<a href="https://colab.research.google.com/github/Pranavsg-200/Pranav/blob/main/Hands_on_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## MINI PROJECT 1 : ##
### Using Python to download YouTube videos without Internet ###

In [ ]:
!pip install pytube

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pytube
  Downloading pytube-12.1.0-py3-none-any.whl (56 kB)
     |████████████████████████████████| 56 kB 2.5 MB/s
Installing collected packages: pytube
Successfully installed pytube-12.1.0

In [ ]:
from pytube import YouTube
from sys import argv

In [ ]:
yt = YouTube('https://youtu.be/PKtnafFtfEo')
yt.title

"Youtube Rewind 2020, Thank God It's Over"

In [ ]:
yt.thumbnail_url

'https://i.ytimg.com/vi/PKtnafFtfEo/sddefault.jpg'

**First Program in Python** 

---

In [ ]:
print("Hello World!")

Hello World!

**Variables**

---

Example 1:

In [ ]:
name = "Pranav"
age = 20
print(name)
print(age)

Pranav
20

Example 2:

In [ ]:
name = 'Pranav'
age = 20

name = 'Yash'
age = 21
print(name)
print(age)

Yash
21

Example 3:

In [ ]:
first_name = "Salman"
last_name = "khan"
age = 19
is_adult = True

print(first_name + " " + last_name)
print(age)
print(is_adult)

Salman khan
19
True

**Python Identifiers**

---

In [1]:
age = 24
name = 'Pranav'

print(age)

24

**Data Type**

---

In [3]:
rating = 4.7
print(rating, type(rating))

name = "Pranav"
print(name, type(name))

marks = 98
print(marks, type(marks))

is_passed = True
print(is_passed, type(is_passed))


my_complex_number = 4 + 5j
print(my_complex_number, type(my_complex_number))

fruits_list = ['Apple', 'Banana', 'Kiwi']
print(fruits_list, type(fruits_list))

4.7 <class 'float'>
Pranav <class 'str'>
98 <class 'int'>
True <class 'bool'>
(4+5j) <class 'complex'>
['Apple', 'Banana', 'Kiwi'] <class 'list'>

**Taking Input**

---

In [ ]:
name = input("What is your name?")
print("Hello " + name)
print("Welcome to our cool Python class")

What is your name?Atharva
Hello Atharva
Welcome to our cool Python class

**Exercise**

---

Take Input as name of your favorite superhero

Print the name of that superhero

Take Superhero as superhero as a variable

In [ ]:
superhero = input("What is your superhero name? ")
print('My favorite superhero is ' + superhero)

What is your superhero name? Hulk
My favorite superhero is Hulk

**Type Conversion**

---

In [ ]:
old_age = input("Enter your age : ")
#new_age = old_age + 2
#print(new_age)

new_age = float(old_age) + 2
print(new_age)


#Useful converion functions
   # 1. float()
   # 2. bool()
   # 3. str()
   # 4. int()

Enter your age : 30
32.0

**Code for Sum of 2 Numbers**

---

In [ ]:
first_number = input("Enter 1st number : ")
second_number = input("Enter 2nd number : ")
sum = float(first_number) + float(second_number)

print("the sum is : " + str(sum))

Enter 1st number : 10
Enter 2nd number : 20
the sum is : 30.0

**Strings**

---

In [4]:
name = "Tony Stark"
print(name.upper())
print(name)
print(name[1])

print(name.lower())
print(name)

print(name.find('y'))
print(name.find('Y'))
print(name.find("Stark"))
print(name.find("stark"))

print(name.replace("Tony Stark", "Ironman"))
print(name)

#to check if a character/string is part of the main string
print("Stark" in name)
print("S" in name)
print("s" in name)

TONY STARK
Tony Stark
o
tony stark
Tony Stark
3
-1
5
-1
Ironman
Tony Stark
True
True
False

In [5]:
s = 'abcde'
print('s.isalpha ', s.isalpha())
print('s.isdigit ', s.isdigit())
print('s.islower ', s.islower())
print('s.isupper ', s.isupper())

print('s.lower ', s.lower())
print('s.upper ', s.upper())

s.isalpha  True
s.isdigit  False
s.islower  True
s.isupper  False
s.lower  abcde
s.upper  ABCDE

Arithmetic **Operators**

---

In [ ]:
print(5 + 2)  
print(5 - 2)
print(5 * 2)
print(5 / 2)
print( 5 // 2)
print(5 % 2)
print(5 ** 2)

i = 5
i = i + 2
i += 2
i -= 2
i *= 2
print(i)

7
3
10
2.5
2
1
25
14

**Operator Precedence**

---

In [ ]:
result = 3 + 5 * 2   #16 or 13?
print(result)

13

**Comments**

---

In [ ]:
# This is comment & useful for people reading your code

**Comparison Operators**

---

In [ ]:
# 1 > 5
# 1 < 5
# 1 >= 5
# 1 <= 5
# 1 != 5
# 1 == 5

False

**Logical Operators**

---

In [ ]:
# or -> (at least one is true)
# and -> (both are true)
# not -> (reverse any value)

number = 2
print(number > 3)
print(number < 3)
print(not number > 3)
print(not number < 3)

print(number > 3 and number > 1)
print(number > 3 or  number > 1)

False
True
True
False
False
True

**If-else statements**

---

In [ ]:
age = int(input("Enter your age "))

if age >= 18:
  print("You are an adult")
  print("You can vote")
elif age < 3:
  print("You are a child")
else:
  print("You are in school")
  print("Thank you")

Enter your age 10
You are in school
Thank you

**Exercise**

---

Make a simple calculator

1.   Take two numbers as input from a user.
2.   Using if-else statements perform addition, substraction, multiplication and division of that two numbers.

In [ ]:
#Our Calculator

first = input("Enter first number : ")
second = input("Enter second number : ")
first = int(first)
second = int(second)
print("----press keys for operator (+,-,*,/)----------")
operator = input("Enter operator : ")

if operator == "+":
   print(first + second)
elif operator == "-":
   print(first - second)
elif operator == "*":
   print(first * second)
elif operator == "/":
   print(first / second)
else:
   print("Invalid Operation")

Enter first number : 20
Enter second number : 10
----press keys for operator (+,-,*,/,%)----------
Enter operator : -
10

**Range in Python**

---

In [9]:
numbers = range(10)
print(numbers)

#numbers = list(range(10))
#print(numbers)

range(0, 10)

**While Loop**

---

In [ ]:
i = 1
while(i <= 5):
   print(i)
   i = i + 1

1
2
3
4
5

**Print the following pattern:**

#  *
#  **
#  ***
#  ****
#  *****

In [ ]:
i = 1
while(i <= 5):
   print(i * "*")
   i = i + 1

*
**
***
****
*****

In [ ]:
i = 5
while(i >= 1):
   print(i * "*")
   i = i - 1

*****
****
***
**
*

**For Loop**

---

In [ ]:
for i in range(5):
   print(i)
   i = i + 1

for i in range(5):
   print(i * "*")
   i = i + 1

0
1
2
3
4

*
**
***
****

**Lists**

---

In [ ]:
friends = ["amar", "akbar", "anthony"]
print(friends[0])
print(friends[1])
print(friends[-1])
print(friends[-2])

friends[0] = "aman"
print(friends)

print(friends[0:2]) #returns a new list

for friend in friends:
   print(friend)

amar
akbar
anthony
akbar
['aman', 'akbar', 'anthony']
['aman', 'akbar']
aman
akbar
anthony

**List Methods**

---

In [ ]:
marks = ["english", 95, "chemistry", 98]
marks.append("physics")
marks.append(97)
print(marks)

marks.insert(0, "math")
marks.insert(1, 99)
print(marks)

print("math" in marks)

print(len(marks)/2)

print(marks)

i = 0
while i < len(marks):
   print(marks[i])
   print(marks[i+1])
   i = i + 2

['english', 95, 'chemistry', 98, 'physics', 97]
['math', 99, 'english', 95, 'chemistry', 98, 'physics', 97]
True
4.0
['math', 99, 'english', 95, 'chemistry', 98, 'physics', 97]
math
99
english
95
chemistry
98
physics
97

**Break & Continue**

---

In [ ]:
students = ["ram", "shyam", "kishan", "radha", "radhika"]

for student in students:
   if(student == "radha"):
       break
   print(student)

for student in students:
   if(student == "kishan"):
       continue
   print(student)

ram
shyam
kishan
ram
shyam
radha
radhika

**Tuples**

---

In [ ]:
marks = (95, 98, 97, 97)
#marks[0] = 98

print(marks.count(97))
print(marks.index(97))

2
2

**Sets**

---

In [ ]:
marks = {98, 97, 95, 95}
print(marks)

for score in marks:
   print(score)

{97, 98, 95}
97
98
95

**Dictionary**

---

In [ ]:
marks = {"math" : 99, "chemistry" : 98, "physics" : 97}
print(marks)
print(marks["chemistry"])

marks["english"] = 95
print(marks)

marks["math"] = 96
print(marks)

{'math': 99, 'chemistry': 98, 'physics': 97}
98
{'math': 99, 'chemistry': 98, 'physics': 97, 'english': 95}
{'math': 96, 'chemistry': 98, 'physics': 97, 'english': 95}

**Functions in Python**

---

In [ ]:
# In-built functions
# int() str() float() min() range() max()

In [10]:
# Module functions
import math
print(dir(math))
print(math.pi)

import random
print(dir(random))

import string
print(dir(string))

from math import sqrt
print(sqrt(4))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']
3.141592653589793
['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_BuiltinMethodType', '_MethodType', '_Sequence', '_Set', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_inst', '_itertools', '_log', '_os', '_pi', '_random', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']
['Formatter', 'Template', '_ChainMap', '_TemplateMetaclass', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_re', '_string', 'ascii_letters', 'ascii_lowercase', 'ascii_uppercase', 'capwords', 'digits', 'hexdigits', 'octdigits', 'printable', 'punctuation', 'whitespace']
2.0

In [ ]:
# User-defined functions
def sum(a, b=4):
   print(a + b)

sum(1, 2)
sum(1)

3
5